.env

# VSCode
.vscode

# Python
__pycache__

# PyPI
build
dist
*.egg-info

# MkDocs
site/*

# Code coverage
.coverage
*.mp4
htmlcov

# pyenv
.python-version

# MAC OS X
.DS_Store

# Config
ice_server_config.py
